<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Footwear
    <%for(let item of result){%>
        <ul>
            <h1><%=item.type%></h1>
            <h1><%=item.name%></h1>
            <img src="<%=item.image%>" alt="">
            <h3>₹ <%=item.price%></h3>
            <div><%=item.desc%></div>
            <a href="/products/<%=item._id%>">View Product</a>
            <%if(currentUser && currentUser.role==='seller' ){%>
            <form action="/products/<%=item._id%>?_method=delete" method="post">
            <button>Delete</button>
            <%}%>
            </form>
        </ul>
        <br>  
    <%}%>
</body>
</html>